.product-item-2{
	font-family: HelveticaNeue;
	color: black;
	font-size: 16px;
	background-color: #ebebeb;
	height: 260px;
}
.btn-published:hover, .dropdown-toggle.btn-published{
	color: white;
	background-color: #7ED321;
	border-color: #7ED321;
 }
.product-item-2 .dropdown-toggle{
	margin-top: 145px;
}